[submodule "third_party/rexglue-sdk"]
	path = third_party/rexglue-sdk
	url = https://github.com/SK8-ENGINE/SK8-Engine-Runtime.git
	branch = skate3-sdk-clean
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git

[submodule "third_party/box3d"]
	path = third_party/box3d
	url = https://github.com/erincatto/box3d.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
